.dashboard-item-list {
    margin: 1.875rem 0;
}

.dashboard-item-list__content {
    align-items: center;
    color: #fafafa;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    font-family: AvantGardeDemi;
    margin: 0 -0.9375rem;
}

.dashboard-item-list__header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 0.9375rem;
    padding-bottom: 0.9375rem;
}

.dashboard-item-list__icon {
    color: #fafafa;
    font-size: 1.875rem;
    margin-right: 0.9375rem;
}

.dashboard-item-list__title {
    color: #fafafa;
    font-size: 1.25rem;
}
