.dashboard-item-list {
    margin: 1.875rem 0;
}

.dashboard-item-list__content {
    align-items: center;
    color: #fafafa;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    font-family: AvantGardeDemi;
    margin: 0 -0.9375rem;
}
