.dashboard-item {
    flex: 0 0 33.333%;
    padding: 0.9375rem;
}

.dashboard-item__header {
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
}

.dashboard-item__header::before,
.dashboard-item__header::after {
    background: #fafafa;
    content: '';
    display: block;
    flex: 1;
    height: 1px;
    opacity: 0.2;
}

.dashboard-item__title {
    font-family: AvantGardeLight;
    font-size: 0.875rem;
    margin: 0 1rem;
}

.dashboard-item__content {
    background: rgba(255, 255, 255, 0.2);
    height: 15.63rem;
}
