.text-input {
    padding: 1.25rem 0;
}

.text-input__content {
    position: relative;
}

.text-input__label {
    color: #fafafa;
    font-family: AvantGardeLight;
    font-size: 0.75rem;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    transition: 0.2s top, 0.2s transform, 0.2s font-size;
}

.text-input__label--empty {
    font-size: 0.875rem;
    top: 50%;
    transform: translateY(-50%);
}

.text-input__field {
    background: none;
    border: none;
    border-bottom: 1px solid #fafafa;
    box-shadow: none;
    color: #fafafa;
    font-family: AvantGardeLight;
    font-size: 0.875rem;
    outline: none;
    width: 100%;
}
