.text-input {
    padding-top: 1.25rem;
}

.text-input__content {
    position: relative;
}

.text-input__label {
    color: #fafafa;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    transition: 0.2s top, 0.2s transform;
    font-family: AvantGardeMedium;
    font-size: 0.875rem;
}

.text-input__label--empty {
    top: 50%;
    transform: translateY(-50%);
}

.text-input__field {
    background: none;
    border: none;
    border-bottom: 1px solid #fafafa;
    box-shadow: none;
    color: #fafafa;
    font-size: 0.875rem;
    outline: none;
    font-family: AvantGardeMedium;
}



